<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Airbnb_R</title>
</head>
<body> -->

    <% layout("/layouts/boilerplate") %>

    <div class="row mt-3">
        <div class="col-8 offset-2">
    <h2>Edit Your Info</h2>
    <form action="/listings/<%= editList._id %>?_method=PUT" method="post" class="needs-validation" novalidate enctype="multipart/form-data">

        <div class="mb-3">
            <label class="form-label" for="title">Title: </label>
            <input class="form-control" type="text" name="listing[title]" id="title" value="<%= editList.title %>" required><br>
        </div>


        <div class="mb-3">
            <label class="form-label" for="description">Description: </label>
            <textarea required class="form-control" name="listing[description]" id="description" cols="15" rows="2"><%= editList.description %></textarea><br>
        </div>

        <div class="mb-3">
            Original Listing Image: <br>
            <img src="<%= originalImage %>" height="300px" width="250px" >
        </div>
        
        <div class="mb-3">
            <label class="form-label" for="image">Upload new Image: </label>
            <input  class="form-control" name="listing[image]" id="image" type="file" ><br>
        </div>


        <div class="row">
            <div class="mb-3 col-md-4">
                <label class="form-label" for="price">Price: </label>
                <input required class="form-control" type="number" name="listing[price]" id="price" value="<%= editList.price %>"><br>
                </div>
                
            <div class="mb-3 col-md-4">
                    <label class="form-label" for="location">Location: </label>
                    <input required class="form-control"  type="text" name="listing[location]" id="location" value="<%= editList.location %>"><br>
            </div>
            
        </div>
        
        <div class="mb-3">
            <label class="form-label" for="country">Country: </label>
            <input required class="form-control"  type="text" name="listing[country]" id="country" value="<%= editList.country %>">
        </div>
        <button class="btn btn-dark add-btn">Update</button><br>
    </form>
    </div>
</div>
<!-- </body>
</html> -->